.custom-mat-card {
    float: left;
    border: 2px solid #bcccd6;
}

.title {
    width: 100%;
    justify-content: flex-start;
}

.action {
    justify-content: flex-end;
}

.img-screenshot {
    object-fit: contain;
    height: 250px;
}

.button-list {
    line-height: 35px !important;
    height: 35px;
    padding: 0 0 !important;
    min-width: 38px !important;
}

.content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-save {
    height: 30px;
    line-height: 26px;
    padding: 0 !important;
    min-width: 42px;
}

.dashboard-area {
    margin: 10px 0 0 0;
    float: right;
}

.dashboard-button {
    height: 30px;
    line-height: 26px;
    padding: 0 !important;
    min-width: 42px;
}
