@import "src/@rcm/scss/fuse";

.diagnose-step {
    @include media-breakpoint('xs') {
        width: 100%;
    }
    @include media-breakpoint('gt-xs') {
        width: 600px;
    }

    .mat-dialog-container {
        padding: 0;

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    .mat-form-field-wrapper {
        padding: 0 5px 5px !important;
    }

    .custom-mat-card {
        width: 100%;
        height: auto;
        float: left;
        border-radius: 0 !important;
        margin-right: 1%;
        margin-bottom: 1rem;
    }

    .title {
        width: 100%;
        justify-content: flex-start;
    }

    .action {
        justify-content: flex-end;
    }

    .img-screenshot {
        height: 300px;
    }

    .content {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .input-mins {
        width: 15%;
    }

    .button-list {
        line-height: 35px !important;
        height: 35px;
        padding: 0 0 !important;
        min-width: 38px !important;
    }

    .info-dashboard-area {
        margin: 10px 0 0 0;
    }

    .img-area {
        margin-top: 15px !important;
    }

    .information {
        width: 100%;
    }

    .dashboard-area {
        margin: 10px 0 0 0;
    }
}

mat-toolbar {
    background-color: #002B49 !important;
}

.h3-custom {
    margin-bottom: 5rem;
}