.div-parent {
    margin-top: 20px;
    margin-bottom: 20px;
}

.component-project {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border: 2px solid #bcccd6;
}

.component-document {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border: 2px solid #bcccd6;
}