#catalog-item {
    width: max-content;

    .point-card {
        min-width: 80px;
        position: relative;
        padding-top: 20px;
        padding: 14px;

        a {
            font-weight: bold;
            font-size: 15px;
            cursor: pointer;
        }
    }
}
