<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0" matDialogTitle>
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{'ACTION.Reset_P' | translate}}</span>
            <button (click)="matDialogRef.close()" aria-label="Close dialog" mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="p-24 pb-0 m-0" fusePerfectScrollbar mat-dialog-content>

        <form [formGroup]="resetPasswordForm" name="resetPasswordForm" novalidate>
            <div>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline">
                        <mat-label>{{'USER.Form.Username' | translate}}</mat-label>
                        <input [disabled]="true" [value]="userData.loginName" matInput type="text" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'USER.Form.FullName' | translate}}</mat-label>
                        <input [disabled]="true" [value]="userData.accountName" matInput type="text" required>
                    </mat-form-field>
                </div>

                <!-- <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline">
                        <mat-label>Full name</mat-label>
                        <input matInput type="text" [disabled]="true" [value]="userData.accountName">
                    </mat-form-field>
                </div> -->

                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline">
                        <mat-label>{{'USER.Form.Project' | translate}}</mat-label>
                        <input [disabled]="true" matInput type="text" value="{{'[TBD]'}}" required>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline">
                        <mat-label>{{'USER.Form.Password' | translate}}</mat-label>
                        <input formControlName="password" matInput type="password" required>
                        <mat-icon class="secondary-text" matSuffix>vpn_key</mat-icon>
                        <mat-error *ngIf="password.getError('required')">
                            {{ 'LOGIN.PRequired' | translate}}
                        </mat-error>
                        <mat-error *ngIf="password.getError('minlength')">
                            {{ 'LOGIN.PMinLength' | translate}}
                        </mat-error>
                        <mat-error *ngIf="password.getError('maxlength')">
                            {{ 'LOGIN.PMaxLength' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline">
                        <mat-label>{{'USER.Form.Confirm' | translate}}</mat-label>
                        <input formControlName="passwordConfirm" matInput type="password" required>
                        <mat-icon class="secondary-text" matSuffix>vpn_key</mat-icon>
                        <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                            {{ 'LOGIN.PConfirmRequire' | translate}}
                        </mat-error>
                        <mat-error
                            *ngIf="!resetPasswordForm.get('passwordConfirm').hasError('required')
                            && resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                            {{ 'LOGIN.PMustMatch' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>

    </div>

    <div class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center" mat-dialog-actions>
        <button (click)="resetPassword();" [disabled]="resetPasswordForm.invalid" aria-label="RESET MY PASSWORD"
                class="submit-button" color="primary" mat-raised-button title="{{'ACTION.Save' | translate}}">
            {{'ACTION.Save' | translate}}
        </button>
    </div>
</div>