#export-form {
    // max-width: 300px;
    height: auto;

    .export-area {
        margin-top: 50px;
    }

    .export-title {
        align-items: center;
    }

    .custom-form {
        width: 300px;
    }

    .radio-excel {
        margin-right: 5rem;
    }

    .export-action {
        margin-bottom: 10px;
    }
}

