@import "src/@rcm/scss/fuse";

#diagnose-setting-detail {
    .header {
        position: relative;
        flex: 1 0 auto;
        height: 280px;
        max-height: 280px;
        text-align: center;
        overflow: hidden;
        @include media-breakpoint('xs') {
            height: 240px;
            padding: 16px;
        }
    }
}

.button-custom {
    height: 40px;
}

.mat-form-field {
    height: 48px;
    border: 1px solid #ced4da !important;
    color: #002b49 !important;
    font-size: 14px !important;
}

.mat-form-field:hover {
    height: 48px;
    color: #002b49 !important;
    font-size: 14px !important;
    border: 1px solid #5A7C91 !important;
}


:host ::ng-deep .mat-form-field-underline {
    display: none;
}

:host ::ng-deep .mat-form-field-wrapper {
    padding: 0 10px 10px 10px;

    .mat-form-field-flex {
        padding-top: 5px;
    }
}

:host ::ng-deep .mat-form-field-infix {
    padding-top: 0;
}

:host ::ng-deep .mat-form-field-label-wrapper {
    top: -1.27em;
    padding-top: 0.84375em;
}

:host ::ng-deep .mat-select-arrow-wrapper {
    height: 100%;
    margin-bottom: -2px;
}

:host ::ng-deep .mat-select-arrow {
    border: solid #4B697E;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}

:host ::ng-deep .mat-select-value {
    margin-right: 0 !important;
}

.title {
    width: 100%;
}

.back-diagnose {
    width: 100%;
}

.button-action {
    // margin-top: 10px;
    margin-bottom: 10px;
}