app-project-detail {
    .card {
        width: 100%;
        height: 365px;
        border: 2px solid #bcccd6;
    }

    .header {
        max-width: 320px;
    }

    .img-custom {
        width: 320px;
        height: 198px;
    }

    .button-edit {
        float: right;
    }

    .img-area {
        margin-top: 15px !important;
        max-width: 320px;
        height: 198px;
    }

    .information {
        width: 100%;

        .custom-h4 {
            max-width: 265px;
            margin: 10px 0 0 0;
            justify-content: flex-start;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .dashboard-area {
        margin: 10px 0 0 0;
    }

    mat-card-actions {
        margin-left: 0px;
        margin-right: -8px;
        padding: 8px 0;
    }

    .info-dashboard-area {
        margin: 10px 0 0 0;
    }

    .dashboard-button {
        height: 30px;
        line-height: 26px;
        padding: 0 !important;
        min-width: 42px;
    }

    .title {
        width: 100%;
        justify-content: flex-start;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .action {
        justify-content: flex-end;
    }

    .button-list {
        line-height: 35px !important;
        height: 35px;
        padding: 0 0 !important;
        min-width: 38px !important;
    }
}
