#diagnose-detail {
    .select-all {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .back-btn-area {
        width: 100%;
    }

    .row-button {
        margin-bottom: 20px;
    }

    .action-btn {
        height: 40px;
    }
}