app-common-dashboard {
    display: block;
    width: 32%;
    height: 430px;
    margin: 0 5px 15px 0;
    float: left;
}

.custom-mat-card {
    float: left;
    border: 2px solid #bcccd6;
    width: 32%;
}
